{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
{% load staticfiles%}
<div class="hidefooter">
            <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row mt-5">
            <!--Grid column-->
            <div class="col-md-6 mb-5 mt-md-0 mt-5">
              <div class="card">
    <div class="card-block">
                <div class="modal-header info-color white-text">
                <h4 class="title text-center">Signin</h4>
            </div>
<div class="modal-body">
    {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p></p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="md-form form-sm">
                    <i class="fa fa-user prefix"></i>
                    <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
    <p class="font-small grey-text d-flex justify-content-end">Forgot <a href="{% url 'get-user-form' %}" class="dark-grey-text ml-1 font-weight-bold"> Username?</a></p>
                </div>
<div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <td>{{ form.password.label_tag }}</td>
                     <td>{{ form.password }}</td>
    <p class="font-small grey-text d-flex justify-content-end">Forgot <a href="{% url 'password_reset' %}" class="dark-grey-text ml-1 font-weight-bold"> Password?</a></p>
                </div>

<div class="text-center mt-4 mb-2">
                    <button class="btn btn-primary" type="submit" >Login
                    </button>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
    <p class="font-small grey-text d-flex justify-content-end">Don't have an account? <a href="{% url 'register' %}" class="dark-grey-text ml-1 font-weight-bold"> Sign Up</a></p>
</form>
</div>


          </div>
      </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4">
              <!--Form-->
                <div class="card">
    <div class="card-block">

<div class="modal-body">
    <p><strong>Or Login with social website</strong></p>
    <div class="d-flex flex-column justify-content-center" >
    <button class="loginBtn loginBtn--facebook" onclick="location.href='{% url 'social:begin' 'facebook' %}';">
  Login with Facebook
</button>

<button class="loginBtn loginBtn--google" onclick="location.href='{% url 'social:begin' 'google-oauth2' %}';">
  Login with Google
</button>
</div>
</div>


          </div>
      </div>
              <!--/.Form-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
</div>
{% endblock %}
</div>