{% extends 'base.html' %}
{% block title %}password reset complete{% endblock %}
{% block body %}
{% load staticfiles%}
<div class="hidefooter">
<div class="container-fluid">
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12"></div>
  <div class="col-md-4 col-sm-4 col-xs-12">
  	<div class="card" style="margin-bottom:200px !important">
    <div class="card-block">
        <div class="modal-header info-color white-text">
                <h4 class="title">Processed</h4>
            </div>
        <div class="modal-body">
 <h3>The password has been changed!</h3>
            <p class="font-small grey-text d-flex justify-content-end"><a href="{% url 'login' %}" class="dark-grey-text ml-1 font-weight-bold">Login </a> again?</p>
        </div>

        </div>
      </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12"></div>
</div>
</div>

{% endblock %}
</div>