table.table thead th {
    background: #8c1222;
    color: #ffffff!important;
    font-weight: bold;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.btn {
    font: 1rem 'Fira Sans', sans-serif;
    padding: .5rem;
    background: #8c1222;
    border: none;
    border-radius: 6px;
    margin: 0 auto;

}

.btn-default
{
    font: 1rem 'Fira Sans', sans-serif;
    padding: .5rem;
    background: #8c1222!important;
    border: none;
    border-radius: 6px;
    margin: 0 auto;
}
.pick-info {
    color: white;
    background-color: #ce4456;
    border-color: #8c1222;
    margin-top: 0.8em;
    margin-left: 1.5em;
    padding-top: 2px;
    padding-bottom: 2px;

}