{% extends 'base.html' %}
{% load staticfiles%}
<link rel="icon" href="{% static 'criclysis/img/ballicon.png' %}">
{% block body %}
        <!-- Sidebar  -->
        <nav id="sidebar" >
          <div style="margin-top: 4.5em !important;">
            <div id="dismiss" style="margin-top: 4.5em;">
                <i class="fa fa-arrow-left"></i>
            </div>
            <div class="sidebar-header" >
                <h3>{{user.first_name}} {{user.last_name}}</h3>
                <h6>{{user.email}}</h6>
            </div>

            <ul class="list-unstyled components example z-depth-2">
                <li>
                    <a class="example hoverable" href="{% url 'profile' %}">Profile</a>
                </li>
                <li>
                    <a href="#home1Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle example hoverable">Batsmen</a>
                    <ul class="collapse list-unstyled" id="home1Submenu">
                        <li>
                            <a class="example hoverable" href="{% url 'BatsmanAHP' %}">AHP</a>
                        </li>
                        <li>
                            <a class="example hoverable" href="{% url 'BatsmanPCA' %}">PCA</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle example hoverable">Bowlers</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a class="example hoverable" href="{% url 'BowlerList' %}">AHP</a>
                        </li>
                        <li>
                            <a class="example hoverable" href="{% url 'BowlerListpca' %}">PCA</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="example hoverable" href="{% url 'teams' %}">Teams</a>
                </li>
                <!--<li>-->
                    <!--<a class="example hoverable" href="{% url 'BowlerList' %}">Players</a>-->
                <!--</li>-->
                <li>
                    <a class="example hoverable" href="{% url 'settings' %}">Settings</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs ">
                <li>
                    <a href="{% url 'logout'%}?next={{request.path}}" class="download" style="color: #680814;">Logout</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">Back to Home</a>
                </li>
            </ul>
          </div>
        </nav>

        <!-- Page Content  -->
        <div>
             <button type="button" id="sidebarCollapse" class="btn btn-dark ">
                        <i class="fa fa-align-left"></i>
                    </button>
            {% if info %}
                        <span class="alert alert-info pick-info text-center" role="alert">
{{ info }}
            </span>
            {% else %}
                {% if pick %}
            <span class="alert alert-info pick-info text-center" role="alert">
Team {{ pick }} turn
            </span>

            {% endif %}
            {% endif %}
        </div>
<div class="container">
        {% block sidebar %}
        {% endblock %}
    </div>

{% endblock %}