{% extends "sidebar.html" %}
<title>{% block title %}{{ batsman.name }}{% endblock %}</title>

{% block sidebar %}

<h1 style="display:inline;">{{batsman.name}}</h1>
{% if team %}
    {% for t in team %}
            {% if messages %}
                <div class="span12">
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message|safe }}
</div>
                {% endfor %}
                </div>
            {% endif %}

            {% if select_list %}
              {% for select in select_list %}
              <div class="float-right" style="color: green; font-size:1.5em;">
                  Selected by {{ select.get_team_display }}
              </div>
              {% endfor %}
            {% else %}
{% if not info %}
                <form action="{% url 'select_batsman' batsman.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-xs float-right">
                <span class="glyphicon glyphicon-remove"></span>&nbsp; select this player
                </button>
                </form>
{%endif%}
            {% endif %}


    {% endfor  %}
<div style="clear:both;"></div>
<hr>
{% else %}
<hr>
<div class="alert alert-info" role="alert">
  You have to first create teams to select this player. Go to <a href="{% url 'profile' %}" class="alert-link">Profile</a>, and create teams.
</div>
{% endif %}

<!-- Section: Features v.1 -->
<section class="my-2">
    <div class="card" style="background: #680814; margin-top: -3em !important;">
  <div class="card-body">
  <div class="modal-header info-color white-text">
                <h4 class="title">Playing Role: {{ batsman.role|cut:"Playing role "  }}</h4>
            </div>

  <!-- Grid row -->
  <div class="row wow fadeInUp">

    <!-- Grid column -->
    <div class="col-md white-text">
        <h5>Batting Style: {{ batsman.bat|cut:"Batting style " }}</h5>
        <h5>Bowling Style: {{ batsman.bowl|cut:"Bowling style " }}</h5>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
  </div>
</div>
</section>
<br>
<section class="bg-dark text-white text-center" style="margin-top: -10em !important;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading" style="margin-top: -1em !important;">Player Stats</h2>
            <hr class="main" style="margin-bottom: -2em !important;">
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="col text-center">
            <div class="service-box mt-5 mx-auto">
               <h1 class="text-white mb-3 sr-icons">{{ batsman.runs|floatformat:0 }}</h1>
              <h3 class="mb-3">Runs</h3>
            </div>
              </div>
          <div class="col text-center">
            <div class="service-box mt-5 mx-auto">
               <h1 class="text-white mb-3 sr-icons">{{ batsman.inningsplayed|floatformat:0 }}</h1>
              <h3 class="mb-3">Matches Played</h3>
            </div>
          </div>
        </div>
           <div class="row wow fadeInUp">
          <div class="col text-center">
            <div class="service-box mt-5 mx-auto">
               <h1 class="text-white mb-3 sr-icons">{{ batsman.ave|floatformat:2 }}</h1>
              <h3 class="mb-3">Batting Average</h3>
            </div>
              </div>
          <div class="col text-center">
            <div class="service-box mt-5 mx-auto">
              <h1 class="text-white mb-3 sr-icons">{{ batsman.sr|floatformat:2 }}</h1>
              <h3 class="mb-3">Batting Strike Rate</h3>
            </div>
          </div>
               <div class="col text-center">
            <div class="service-box mt-5 mx-auto">
               <h1 class="text-white mb-3 sr-icons">{{ batsman.fifty|floatformat:2 }}</h1>
              <h3 class="mb-3">Fifties</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- Section: Features v.1 -->

<div id="chart-1">{{ output|safe }}</div>
{% endblock %}