{% extends 'base.html' %}
<title>{% block title %}Criclysis{% endblock %}</title>
{% block body %}
{% load staticfiles%}
<!-- Full Page Intro -->
  <div class="view full-page-intro" style="background-image: url('{% static 'criclysis/img/ball.jpg' %}'); background-repeat: no-repeat; background-size: cover;" >
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

<div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="display-4">
                <strong style="font-size: 1.2em;" class="heading">A FUSION OF CRICKET AND ANALYSIS</strong>
              </h1>
<hr class="main">

                 <p class="mb-4 d-none d-md-block">
                <strong style="font-size: 1.5em">Create Your own T20 Leagues and Teams using our Drafting Analysis</strong>
              </p>

              <a class="btn btn-primary btn-xl js-scroll-trigger" href="#start">Find Out More</a>

            </div>
    </div>
    <!-- Mask & flexbox options-->
  </div>

<section class="bg-primary" id="start">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white wow fadeInUp">We've got what you seek !</h2>
            <hr class="main light my-4">
            <p class="text-faded mb-4">Player analytics is a growing trend in professional sports and will have a wider impact on the entire sports industry. Any team that does not apply them to its fullest extent is at a competitive disadvantage.
If you donot want to be at the downside then Criclysis is the miracle !</p>
            <p class="text-faded mb-4">The cricket analytics community seems to be shaping up pretty well, and there seems to be a lot of enthusiasm for it.</p>
            <p class="text-faded mb-4">Big Data in Sports has a vital role to play in decision making in future by recording the experiences and predicting behaviors based on cricket data.</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="{% url 'register' %}">Get Started!</a>
          </div>
        </div>
      </div>
    </section>
  <!-- Full Page Intro -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">At Your Service</h2>
            <hr class="main">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row wow fadeInUp">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-file-text-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Performance Based Rankings</h3>
              <p class="text-muted mb-0">We provide optimized Players Rankings</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-check-square-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Drafting arena</h3>
              <p class="text-muted mb-0">Build your own franchise team </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-bar-chart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Visual Bot</h3>
              <p class="text-muted mb-0">Optimize your team through Visual Team Analysis</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-dark text-white" id="analysis">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 " style="border-right: 1px solid #ccc;">
            <div class="service-box mt-2 mx-auto">
              <h3 class="mb-3">PCA</h3>
              <p class="text-muted mb-0">There are several indicators available to measure the
                  various contributions of prized athletes. Unfortunately, these indicators are generally highly correlated,
                  making it difficult to judge overall player performance.<br>Principal Component Analysis is a technique
                  used to emphasize variation, removes redundancy and brings out strong patterns.<br>It focuses not only
                on evaluating performances of players but also finds new players for the teams.
                  Ranking of all players is generated with weighted-average approach. </p>
            </div>
          </div>
          <div class="col-lg-6 ">
            <div class="service-box mt-2 mx-auto">
              <h3 class="mb-3">AHP</h3>
              <p class="text-muted mb-0">Analytical Hierarchy Process is a Multi Criteria Decision
                  Method which takes numerous attributes of cricket as criteria's and scale them
                  according to preferences. Weights are assigned to every criteria, perform a consistency
                  check so that you wont have wrong predictions.Players are ranked using Technique for Order
                  Preference by Similarity to Ideal Solution (TOPSIS) which then generates ranking of players
                  accordingly.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


<!-- Section: Team v.3 -->
<section id="contact">
<div class="container">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Our amazing team</h2>
  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-lg-6 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'criclysis/img/khadija.png' %}" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Khadija Tul Kubra Zaki</h4>
        <h6 class="font-weight-bold grey-text mb-3">Developer</h6>
        <p class="grey-text">Computer Systems Engineer from NED University</p>
        <!-- Facebook-->
          <a class="p-2 fa-lg tw-ic">
              <i class="fa fa-envelope"><h6>khadijazaki520@outlook.com</h6></i>
        </a>
        <a class="p-2 fa-lg fb-ic maincolor" href="http://www.linkedin.com/in/khadija-tul-kubra-zaki-264549139/">
          <i class="fa fa-linkedin"> </i>
        </a>
        <!-- Twitter -->


      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-6 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="{% static 'criclysis/img/aisha.png' %}" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Aisha Atique</h4>
        <h6 class="font-weight-bold grey-text mb-3">Developer</h6>
        <p class="grey-text">Computer Systems Engineer from NED University</p>
        <!-- Facebook-->

        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fa fa-envelope"><h6>aishaatique1@yahoo.com</h6></i>
        </a>
        <a class="p-2 fa-lg fb-ic maincolor" href="http://www.linkedin.com/in/khadija-tul-kubra-zaki-264549139/">
          <i class="fa fa-linkedin"></i>
        </a>
        <!--Dribbble -->
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->
</div>
</section>
<!-- Section: Team v.3 -->
{% endblock %}
