<div style="min-height: 100% !important; position: relative;">
    {% extends 'sidebar.html' %}
    {% load staticfiles%}
<title>{% block title %}Teams{% endblock %}</title>
{% block sidebar %}
<h1>Teams List</h1>
<hr>
{% if select_list %}
<div class="alert alert-info" role="alert">
  Click on Teams to view Team Analysis
</div>
<div class="row">
    {% if total_teams >= 1 %}
<div class="col">
    <div class="team">
        <!-- TEAM A -->
        <h4 class="text-center teams"><a href="{% url 'team' 1 %}" class="teamcolor">Team A</a></h4>
        <hr class="main">
{% for select in select_list %}
{% if select.get_team_display == "Team A" %}
        {% if select.bowler %}
        <a style="line-height: 1em;" href="{{ select.bowler.get_absolute_url }}">{{ select.bowler }}</a><br>
        <span>({{ select.bowler.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
        {% if select.batsman %}
        <a style="line-height: 1em;" href="{{ select.batsman.get_absolute_url }}">{{ select.batsman }}</a><br>
        <span>({{ select.batsman.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
{% endif %}
{% endfor %}
    </div>
    </div>
    {% endif %}


    {% if total_teams >= 2 %}
    <div class="col">
        <div class="team">
            <!-- TEAM B -->
<h4 class="text-center"><a href="{% url 'team' 2 %}" class="teamcolor">Team B</a></h4>
            <hr class="main">
{% for select in select_list %}
{% if select.get_team_display == "Team B" %}
        {% if select.bowler %}
        <a style="line-height: 1em;" href="{{ select.bowler.get_absolute_url }}">{{ select.bowler }}</a><br>
        <span>({{ select.bowler.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
        {% if select.batsman %}
        <a style="line-height: 1em;" href="{{ select.batsman.get_absolute_url }}">{{ select.batsman }}</a><br>
        <span>({{ select.batsman.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
            {% endif %}
{% endfor %}
    </div>
    </div>
    {% endif %}
    {% if total_teams >= 3 %}
    <div class="col">
        <div class="team">
<h4 class="text-center"><a href="{% url 'team' 3 %}" class="teamcolor">Team C</a></h4>
            <hr class="main">
{% for select in select_list %}
{% if select.get_team_display == "Team C" %}
        {% if select.bowler %}
        <a style="line-height: 1em;" href="{{ select.bowler.get_absolute_url }}">{{ select.bowler }}</a><br>
        <span>({{ select.bowler.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
        {% if select.batsman %}
        <a style="line-height: 1em;" href="{{ select.batsman.get_absolute_url }}">{{ select.batsman }}</a><br>
        <span>({{ select.batsman.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
            {% endif %}
{% endfor %}
    </div>
    </div>
    {% endif %}
    {% if total_teams >= 4 %}
    <div class="col">
        <div class="team">
<h4 class="text-center"><a href="{% url 'team' 4 %}" class="teamcolor">Team D</a></h4>
            <hr class="main">
{% for select in select_list %}
{% if select.get_team_display == "Team D" %}
        {% if select.bowler %}
        <a style="line-height: 1em;" href="{{ select.bowler.get_absolute_url }}">{{ select.bowler }}</a><br>
        <span>({{ select.bowler.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
        {% if select.batsman %}
        <a style="line-height: 1em;" href="{{ select.batsman.get_absolute_url }}">{{ select.batsman }}</a><br>
        <span>({{ select.batsman.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
            {% endif %}
{% endfor %}
    </div>
    </div>
    {% endif %}
    {% if total_teams >= 5 %}
    <div class="col">
<div class="team">
<h4 class="text-center"><a href="{% url 'team' 5 %}" class="teamcolor">Team E</a></h4>
<hr class="main">
{% for select in select_list %}
{% if select.get_team_display == "Team E" %}
        {% if select.bowler %}
        <a style="line-height: 1em;" href="{{ select.bowler.get_absolute_url }}">{{ select.bowler }}</a><br>
        <span>({{ select.bowler.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
        {% if select.batsman %}
        <a style="line-height: 1em;" href="{{ select.batsman.get_absolute_url }}">{{ select.batsman }}</a><br>
        <span>({{ select.batsman.role|cut:"Playing role "  }})</span> <br><br>
        {% endif %}
    {% endif %}
{% endfor %}
    </div>
    </div>
    {% endif %}
</div>
    {% else %}
      <p>There are no players in any team.</p>
    {% endif %}
    </div>
{% endblock %}