{% extends 'sidebar.html' %}
{% block sidebar %}
{% load staticfiles%}

<h1>Teams List</h1>
{{ total_teams }}
{% if select_list %}
<div class="row">
    {% if total_teams >= 1 %}
<div class="col">
<br><h3>Team A</h3>
{% for select in select_list %}
{% if select.get_team_display == "Team A" %}
{{ select.bowler|default_if_none:""  }}
{{ select.batsman|default_if_none:""  }}
{% endif %}
{% endfor %}
    </div>
    {% endif %}
    {% if total_teams >= 2 %}
    <div class="col">
<br><h3>Team B</h3>
{% for select in select_list %}
{% if select.get_team_display == "Team B" %}
{{ select.bowler|default_if_none:""  }}
{{ select.batsman|default_if_none:""  }}
{% endif %}
{% endfor %}
    </div>
    {% endif %}
    {% if total_teams >= 3 %}
    <div class="col">
<br><h3>Team C</h3>
{% for select in select_list %}
{% if select.get_team_display == "Team C" %}
{{ select.bowler|default_if_none:""  }}
{{ select.batsman|default_if_none:""  }}
{% endif %}
{% endfor %}
    </div>
    {% endif %}
    {% if total_teams >= 4 %}
    <div class="col">
<br><h3>Team D</h3>
{% for select in select_list %}
{% if select.get_team_display == "Team D" %}
{{ select.bowler|default_if_none:""  }}
{{ select.batsman|default_if_none:""  }}
{% endif %}
{% endfor %}
    </div>
    {% endif %}
    {% if total_teams >= 5 %}
    <div class="col">

<br><h3>Team E</h3>
{% for select in select_list %}
{% if select.get_team_display == "Team E" %}
{{ select.bowler|default_if_none:""  }}
{{ select.batsman|default_if_none:""  }}
{% endif %}
{% endfor %}
    </div>
    {% endif %}
</div>
    {% else %}
      <p>There are no players in any team.</p>
    {% endif %}
{% endblock %}